@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font: normal 20px Inter;
  text-align: center;
  background-color: #007d4d;
  color: white;
}
.titulo{
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
}

.container {
  background-color: whitesmoke;
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  margin: auto;
  margin-top: 150px;
  color: #141414;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.585);
}

.conteudo {
  margin-top: 30px;
}

input {
  height: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 150px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
}

select {
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

#vistoria {
  width: 250px;
}

#btn {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: #8a8a8a;
  color: white;
  font-family: 'Inter';
}

#btn:hover {
  background-color: #007d4d;
  color: white;
  cursor: pointer;
}

footer {
  font-size: 15px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

